* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

/* #test {
    height: 300px;
    width: 1200px;
    background-color:coral;
}

#test2 {
    height: 400px;
    width: 70%;
  
    background-color: cadetblue;
}

.parent {
    width: 500px;
    height: 300px;
      overflow: hidden;
    background-color: red;
}

.child {
    width: 100%;
    height: 100%;
    background-color: green;
}

.child2 {
    width: 100vw;
    height: 100vh;
    background-color: green;
} */

  /* em and rem */
  
/* #test {
   font-size:10px;
   height: 20em;
   width: 20em;
   background-color: cornflowerblue;
} */


/* Rem Stand For Root emplheral Unit */
/*  
#test {
    width: 2rem;   
    height: 2rem;
    background-color: red;
} */

.firstblock {
    background-color: skyblue;
    height: 200px;
}

.secondBlock {
    background-color: rgb(221, 125, 125);
    height: 200px;
}

.car1 {
   width: 200px;
   height: 200px;
   background-color: rgb(221, 125, 125);
}

.car2 {
   
    width: 80px;
    height: 100px;
    background-color: skyblue;
}

.car3 {
    position: absolute;
    top:20;
     width: 100px;
    height: 200px;
    background-color: rgb(135, 235, 205);
}


.mainBoxContainer {
    border: 5px solid red;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    position:relative;
}

.mainBoxChild {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgb(70, 70, 70);
}

h2::first-line {
    color: yellow;
}


h3::selection {
    color: green;
}


#color {
   border: 4px solid rgb(61, 52, 36);
   width: 250px;
   height: 250px;
   margin: 20px;
   background: rgb(255,  0, 0);
}





