* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    width: 100%;
    height: 100%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}



#main {
    height: 100%;
    width: 100%;
    background-color: #dadada;
    display: grid;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 26% 55% 19%;
}

#left-top-left {
   padding: 40px;
   background-color: brown;

}
#square  {
    width: 30px;
    height: 30px;
    rotate: 45deg;
    background-color: black;
}

#left-top-right {
   padding: 40px;
   justify-self:right;
   text-align: right;
   background-color: aquamarine;
}


#left-top-right h4 {
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 400;
}

#left-top-right h5 {
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}





#left-center {
  grid-column: 1/3;
  padding: 40px;
  background-color: burlywood;
}

#left-center h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 6vw
}

#left-center h1:nth-child(2n) {
    text-align: center;
}


#left-bottom {
  grid-column: 1/3;
  padding: 40px;
  background-color: cornflowerblue;
}
#left-bottom p {
    width: 70%;
    font-size: 1.3rem;
    color: #767676;
    font-weight: 400;
}


#right {
 grid-column: 3;
 grid-row: 1/4;
 padding: 40px;
 padding-right: 120px;
 background-color: rgb(233, 170, 88);
}

@media (max-width:600px) {

    #main {

        grid-template-columns: 50% 50%;
        grid-template-rows: 60px 30% 10%;
    }

    #right { 
        grid-column: 1/4;
        grid-row: 4;
    }
}